:root {
  --primary : #112A46;
  --secondary : #213f60;

  --bg-primary : #F5E0B7;
  /* --primary : #19423D;
  --secondary : #555;

  --bg-primary : #BAC6C5; */

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--secondary);

  overflow-x: hidden;
}

[class$="--container"] {
    width: 100%;
}

@media (min-width : 1024px) { 
  [class$="--container"] {
    margin: 0 auto;
    max-width: 120rem;
  }
 }


[class$="--title"] {
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: 3.6rem;
}

@media (min-width : 1024px) { 
  [class$="--title"] {
  font-size: 3.6rem;
  margin-bottom: 4rem;  
  }
}

[class$="--section"]:nth-child( even ) [class$="--title"] {
  color: var(--primary);
}


[class$="--subtitle"] {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

[class$="--section"] {
  padding: 4rem;
  margin-bottom: 1rem;
}

@media (min-width : 1024PX) {
  [class$="--section"] {
    padding: 9.6rem;
    margin-bottom: 1rem;
  }
}

[class$="--section"]:nth-child( even ) {
  background-color: var(--bg-primary);
}

img {
  max-width: 100%;
}

.btn:link,
.btn:active {
  display: inline-block;
  margin-top: 1.2rem;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 9px;
  transition: all .3s;
  font-weight: 600;
}

@media (min-width : 1024px) { 
  .btn:link,
  .btn:active {
    padding: 16px 32px;
    font-size: 2rem;
  }
 }

.btn--primary {
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  width: 16rem;
  text-align: center;
  color: #fff;
  margin-right: 1rem;
}

@media (min-width : 1024px) { 
  .btn--primary {
    width: 20rem;
  }  
}

.btn--primary:hover,
.btn--primary:active {
  background-color: rgb(85, 85, 85);
}

.btn--secondary {
  text-align: center;
  width: 12rem;
  background-color: #ffffff;
  color: var(--secondary);
  /* border: 1px solid #aaede5; */
}

@media (min-width : 1024px) { 
  .btn--secondary {
    font-size: 1.6rem;
    width: 18rem;
  }
}

.btn--secondary:hover,
.btn--secondary:active {
  box-shadow: inset 0 0 0 3px #fff;
  background-color: var(--bg-primary);
  color: white;
}